[Unit]
Description=Host-side ASPEED BMC fan controller

[Service]
Type=notify
NotifyAccess=main
WatchdogSec=30
ExecStart=/usr/local/bin/p2afan daemon
ExecStopPost=/usr/local/bin/p2afan stop-post
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
